.ear-container {
  background-color: #f0f7d4;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
} */

.ear-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #092834;
}
