.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #66b032;
}

.logo {
  width: 70px; /* Adjust as needed */
  height: auto; /* Keep the aspect ratio */
}

.navbar__links {
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: #092834; // color of home page, star page, diamond page, heart page
  border-bottom: 2px solid transparent;
}

.link:hover {
  color: #f0f7d4;
  border-bottom: 2px solid #f0f7d4;
  transition: 0.5s ease;
}

/* From Uiverse.io by adamgiebl */
button {
  font-size: 18px;
  display: inline-block;
  font-family: Arial;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  /* background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%); */
  background: linear-gradient(to bottom, #70C137 0%, #5E721A 100%);
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
    0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
    inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #66B032;
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em #345819;
  transform: translateY(0em);
}
