.solar-system-carousel {
  text-align: center;
  margin: 20px;
}

.carousel-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carousel-slide {
  text-align: center;
  transition: transform 0.5s ease-in-out;
  color: #092834;
}

.planet-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease-in-out;
}

.carousel-button:hover {
  transform: scale(1.2);
}
